:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-darker-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-lighter-gray: hsl(0, 0%, 98%);

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
}

html {
  font-size: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-normal);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.feature-section {
  padding: 4.8rem;
}

.heading-secondary {
  font-weight: var(--fw-light);
  margin-bottom: 0.4rem;
}

.heading-tertiary {
  margin-bottom: 1.4rem;
}

.heading-tertiary,
.feature-title--header {
  font-weight: var(--fw-bold);
}

.heading-secondary,
.heading-tertiary {
  font-size: 2.4rem;
}

.feature-text-box {
  text-align: center;
  margin-bottom: 3.6rem;
}

.feature--text {
  font-weight: var(--fw-light);
  font-size: 1.875rem;
}

.feature-cards {
  row-gap: 2.4rem;
}

.feature-card {
  padding: 2.4rem;
  gap: 0.4rem;
  border-radius: 5px;

  box-shadow: 0 0.2rem 2.4rem 0.1rem var(--neutral-grayish-blue);
}

.feature--supervisor {
  border-top: 5px solid var(--primary-cyan);
}

.feature--team {
  border-top: 5px solid var(--primary-red);
}

.feature--karma {
  border-top: 5px solid var(--primary-orange);
}

.feature--calculator {
  border-top: 5px solid var(--primary-blue);
}

.feature-title--header {
  font-size: 2.4rem;
}

.feature-description--text {
  font-size: 1.5rem;
  font-weight: var(--fw-light);
  margin-bottom: 2.4rem;
}

.feature-icon {
  align-self: end;
}

.feature--icon {
  max-width: 7rem;
}
